body {
    font-family: Arial;
    background: #f4f6fb;
    margin: 0;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.dashboard {
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.lesson-card {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel {
    background: red;
    color: white;
}